.contact {
  background: $lightBlue;
  padding: 64px 16px 20px;
  &__header {
    margin-top: 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: $textDark;
    @media (min-width: $desktop) {
      font-size: 42px;
      line-height: 56px;
    }
  }
  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: $text;
    @media (min-width: $desktop) {
      font-size: 20px;
      line-height: 36px;
    } 
  }
  &__links {
    text-align: center;
    @media (min-width: $desktop) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 650px;
      margin: 110px auto;
    }
  }
  &__mail {
    border-radius: 64px;
    color: $white;
    padding: 4px 10px;
    background: $linkBlue;
    font-size: 14px;
    line-height: 40px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    @media (min-width: $tablet) {
      font-size: 18px;
      padding: 4px 24px;
    }
  }
}
