.hero {
  padding: 74px 16px 0;
  &__contact {
    border-radius: 64px;
    color: $white;
    padding: 4px 10px;
    background: $linkBlue;
    font-size: 14px;
    line-height: 40px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    margin-top: 48px;
  }
  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 56px;
  }
  &__header {
    font-size: 26px;
    line-height: 32px;
    color: $textDark;
  }
  &__hello {
    display: none;
  }
  &__image {
    box-sizing: content-box;
    width: 96px;
    height: 96px;
    border: 16px solid #f6f9fd;
    border-radius: 50%;
  }
  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link {
    font-weight: 700;
    color: $linkBlue;
    text-decoration: none;
  }

  &__special {
    color: $blue;
  }
}
