$blue: #1070CA;
$blue: #846c5b;
$console:  #808082;
$lightConsole: #A3A3A3;
$linkConsole: #F6EACB;
$grey: #443742;
$darkGrey: #2D242C;
$mediumGrey: #464A4D;
$lightBlue: #F9F1DC;
$linkBlue: #cea07e;
$text: #425A70;
$text: #221B21;
$textDark: #2D242C;
$white: #ffffff;

$tablet: 768px;
$desktop: 960px;